@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    margin: 0;
    padding: 0;
    direction: rtl;
    font-family: "Open Sans", Tahoma, Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

h1 {
    color: #2c3e50;
    font-size: 3em;
}

.container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.links-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
    margin-bottom: 4em;
}

.links-container a {
    color: #fff;
    font-size: 1em;
    text-decoration: none;
    font-weight: bold;
    background-color: #072042;
    padding: 1em 2em;
    border-radius: 30px;
}

.links-container a:hover {
    background-color: #130f17;
}

.images-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
}

.images-container div {
    min-width: 300px;
    max-width: 600px;
}

.images-container div img {
    width: 100%;
    height: auto;
}